<mat-card>
    <form #loginForm = "ngForm" (ngSubmit)="loginFunction()">
        <mat-card-header style="justify-content: center">
            <mat-card-title>
                Login!
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="input">
            <mat-form-field>
              <input matInput placeholder="Login" type="email" [(ngModel)]="clientLogin"  name="username" #login>
            </mat-form-field>
        </mat-card-content>
        
        <mat-card-content class="input">
            <mat-form-field>
              <input matInput type="password" placeholder="Senha" [(ngModel)]="clientPassword"  name="password" #password>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="input">
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Logar</button>

            <button mat-raised-button [routerLink]="['../contato-list']">Voltar</button>
        </mat-card-actions>
    </form>
</mat-card>